<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form method="post">
    {%csrf_token%}
    {%if error%}
            <h2>{{error}}</h2>
    {%endif%}
    <label for="username">Введите логин:</label>
    <input type="text" id="username" name="username" maxlength="30">
    <label for="password">Введите пароль:</label>
    <input type="text" id="password" name="password" minlength="8">
    <label for="repeat_password">Повторите пароль:</label>
    <input type="text" id="repeat_password" name="repeat_password" minlength="8">
    <label for="age">Введите свой возраст:</label>
    <input type="text" id="age" name="age" maxlength="3">

    <button type="submit">Зарегистрироваться</button>
</form>
  {%if new_user%}
    <h2>Приветствуем, {{new_user}}!</h2>
  {%endif%}
</body>
</html>